@custom-media --break-3-portrait (--break-3), (orientation: portrait);

.destination-block {
  display: grid;
  grid-template-columns: 27.8125rem minmax(min-content, 26rem);
  grid-template-rows: auto;
  justify-content: center;
  column-gap: 9rem;

  padding-inline: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;

  overflow: auto;

  @media (--break-2) {
    column-gap: 2rem;

    padding-inline: 1.3rem;
  }

  @media (--break-3-portrait) {
    grid-template-columns: auto;
    grid-template-rows: min-content minmax(min-content, 1fr);
    align-content: stretch;
    row-gap: 2rem;

    padding-inline: 2rem;
    padding-bottom: 2.5rem;
  }

  @media (--break-4) {
    padding-bottom: 2rem;
  }

  & > * {
    margin-block: auto;
  }

  & > .imagesection {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    @media (--break-3-portrait) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }
  }

  & > .infosection {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    align-self: flex-end;
    min-height: 27.8125rem;

    @media (--break-3-portrait) {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;

      height: auto;
    }
  }

  & > .imagesection {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    & > .title {
      display: flex;
      column-gap: 2ch;

      font-size: 1.6rem;
      font-family: var(--font-barlow-condensed);

      letter-spacing: 0.295rem; /* 4.72px */

      @media (--break-4) {
        align-self: center;

        font-size: 1.2rem;
      }

      & > .index {
        color: #50525a;
        font-weight: bold;
      }
    }

    & > .image {
      max-width: 100%;

      width: 100%;
      aspect-ratio: 1 / 1;

      @media (--break-3-portrait) {
        align-self: center;

        width: 300px;
      }

      @media (--break-4) {
        width: 190px;
      }

      @media (--break-3-portrait) and (height >= 900px) {
        width: clamp(300px, 28vh, 100%);
      }

      & > img {
        object-fit: contain;
        padding-left: 2rem;

        @media (--break-3-portrait) {
          padding-left: 0;
        }
      }
    }
  }

  & > .infosection {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @media (--break-3-portrait) {
      align-items: center;

      padding-inline: 6rem;
    }

    @media (--break-3-portrait) {
      padding-inline: 0;
    }

    & > .buttons {
      margin-bottom: auto;

      display: flex;
      column-gap: 2rem;

      color: var(--secondary-color);
      font-size: 1.2rem;
      font-family: var(--font-barlow-condensed);
      text-transform: uppercase;
      letter-spacing: 0.16875rem; /* 2.7px */

      @media (--break-4) {
        font-size: 1rem;
      }

      & > .option {
        padding-bottom: 0.6em;
        border-bottom: solid 0.2em transparent;

        transition: border-color 0.4s;

        @mixin :hover & {
          border-color: var(--secondary-color);

          transition: none;
        }

        &.-active {
          color: var(--app-text);
          border-color: var(--app-text);
        }
      }
    }

    & > .info {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      @media (--break-3-portrait) {
        align-items: center;

        text-align: center;
      }

      & > .title {
        font-size: 6.25rem;
        font-weight: normal;
        font-family: var(--font-bellefair);

        text-transform: uppercase;

        @media (--break-4) {
          font-size: 4.25rem;
        }
      }

      & > .description {
        margin-bottom: 2rem;

        color: var(--secondary-color);
        line-height: 2rem;


      }

      & > .lineseparator {
        align-self: stretch;

        height: 1px;

        background-color: #383B4B;
      }

      & > .datainfo {
        display: flex;
        column-gap: 3rem;

        @media (--break-4) {
          flex-direction: column;
          row-gap: 2rem;
        }

        & > .avgdistance,
        & > .traveltime {
          display: flex;
          flex-direction: column;
          row-gap: 0.5rem;

          text-transform: uppercase;

          @media  (--break-3-portrait) {
            row-gap: 1rem;
          }

          & > .title {
            color: var(--secondary-color);
            font-size: 0.875rem;
            font-family: var(--font-barlow-condensed);
            letter-spacing: 0.1475rem;
          }
          
          & > .value {
            font-size: 1.75rem;
            font-family: var(--font-bellefair);
          }
        }
      }
    }
  }
}
