@charset "UTF-8";

@import '../components/navbar/navbar.css';
@import '../pages/home/home.css';
@import '../pages/destination/destination.css';
@import '../pages/crew/crew.css';
@import '../pages/technology/technology.css';

@custom-media --break-1 (width <= 68.75em); /* 1100px */
@custom-media --break-2 (width <= 62.5em); /* 1000px */
@custom-media --break-3 (width <= 53.125em); /* 850px */
@custom-media --break-4 (width <= 40.625em); /* 650px */


:root {
  --app-bg:             hsl(230deg, 35%, 7%);
  --app-text:           hsl(0deg, 0%, 100%);
  --secondary-color:    hsl(231deg, 77%, 90%);
  --nav-line-decorator: hsl(0deg, 0%, 50%); 

  --font-barlow: Barlow;
  --font-barlow-condensed: 'Barlow Condensed';
  --font-bellefair: Bellefair;

  --btn-hamburguer-icon: url('assets/images/shared/icon-hamburger.svg');
  --btn-close-hamburguer-menu-icon: url('assets/images/shared/icon-close.svg')
}


/* Background Images per page */

:root {

}


:root[data-pathname="/"],
:root[data-pathname="/home"] {
  --bg-desktop: url('/assets/images/home/background-home-desktop.jpg');
  --bg-tablet: url('/assets/images/home/background-home-tablet.jpg');
  --bg-mobile: url('/assets/images/home/background-home-mobile.jpg');
}

:root[data-pathname="/destination"] {
  --bg-desktop: url('/assets/images/destination/background-destination-desktop.jpg');
  --bg-tablet: url('/assets/images/destination/background-destination-tablet.jpg');
  --bg-mobile: url('/assets/images/destination/background-destination-mobile.jpg');
}

:root[data-pathname="/crew"] {
  --bg-desktop: url('/assets/images/crew/background-crew-desktop.jpg');
  --bg-tablet: url('/assets/images/crew/background-crew-tablet.jpg');
  --bg-mobile: url('/assets/images/crew/background-crew-mobile.jpg');
}

:root[data-pathname="/technology"] {
  --bg-desktop: url('/assets/images/technology/background-technology-desktop.jpg');
  --bg-tablet: url('/assets/images/technology/background-technology-tablet.jpg');
  --bg-mobile: url('/assets/images/technology/background-technology-mobile.jpg');
}


:root {
  background-color: var(--app-bg);
  color: var(--app-text);
  font-family: var(--font-barlow);

  font-size: max(1rem, 1vw);

  @media (orientation: portrait) {
    font-size: max(1rem, 2vw);
  }
}


::selection {
  background-color: #fff2;
}


img {
  -webkit-user-drag: none;
}


[data-id="app"] {
  background-image: var(--bg-desktop);
  background-size: cover;

  @media (--break-3), (orientation: portrait) {
    background-image: var(--bg-tablet);
  }

  @media (--break-4) {
    background-image: var(--bg-mobile);
  }
}


[data-id="app-content"] {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6em 1fr;
  grid-template-areas:
  "nav "
  "main"
  ;

  padding: 0;
  padding-top: 2rem;

  overflow: hidden;

  & > .navbar-block {
    grid-area: nav;
    z-index: 10;
  }

  & > .navigate-component {
    grid-area: main;
  }

  @media (--break-3) {
    padding-top: 0;
  }
}


.navigate-component {
  display: flex;

  & > :first-child {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
