@charset "UTF-8";

@import '../components/navbar/navbar.css';
@import '../pages/home/home.css';
@import '../pages/destination/destination.css';
@import '../pages/crew/crew.css';
@import '../pages/technology/technology.css';

@custom-media --break-1 (width <= 68.75em); /* 1100px */
@custom-media --break-2 (width <= 62.5em); /* 1000px */
@custom-media --break-3 (width <= 53.125em); /* 850px */
@custom-media --break-4 (width <= 40.625em); /* 650px */

@custom-media --break-3-portrait (--break-3), (orientation: portrait);


:root {
  --app-bg:             hsl(230deg, 35%, 7%);
  --app-text:           hsl(0deg, 0%, 100%);
  --secondary-color:    hsl(231deg, 77%, 90%);
  --nav-line-decorator: hsl(0deg, 0%, 50%); 

  --font-barlow: Barlow;
  --font-barlow-condensed: 'Barlow Condensed';
  --font-bellefair: Bellefair;

  --btn-hamburguer-icon: url('assets/images/shared/icon-hamburger.svg');
  --btn-close-hamburguer-menu-icon: url('assets/images/shared/icon-close.svg')
}

::selection {
  background-color: #fff2;
}


img {
  -webkit-user-drag: none;
}


/* Background Images per page */

:root {
  --bg-overlay-color: transparent;
}


$routes: (home, destination, crew, technology);

@each $path in $routes {

  @if $path == home {
    :root[data-pathname="/"] {
      --bg-desktop: url('/assets/images/$(path)/background-$(path)-desktop.jpg');
      --bg-tablet: url('/assets/images/$(path)/background-$(path)-tablet.jpg');
      --bg-mobile: url('/assets/images/$(path)/background-$(path)-mobile.jpg');
    }
  }
  @else {
    :root[data-pathname="/$(path)"] {
      --bg-desktop: url('/assets/images/$(path)/background-$(path)-desktop.jpg');
      --bg-tablet: url('/assets/images/$(path)/background-$(path)-tablet.jpg');
      --bg-mobile: url('/assets/images/$(path)/background-$(path)-mobile.jpg');
    }
  }

}

:root[data-pathname="/crew"] {
  --bg-overlay-color: hsla(230deg, 35%, 7%, 0.5);
}


:root {
  background-color: var(--app-bg);
  color: var(--app-text);
  font-family: var(--font-barlow);

  font-size: max(1rem, 1vw);

  @media (orientation: portrait) {
    font-size: max(1rem, 2vw);
  }
}


[data-id="app"] {
  --bg-overlay: linear-gradient(var(--bg-overlay-color), var(--bg-overlay-color));

  background-image: var(--bg-overlay), var(--bg-desktop);
  background-size: cover;

  @media (--break-3), (orientation: portrait) {
    background-image: var(--bg-overlay), var(--bg-tablet);
  }

  @media (--break-4) {
    background-image: var(--bg-overlay), var(--bg-mobile);
  }
}


[data-id="app-content"] {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6em 1fr;
  grid-template-areas:
  "nav "
  "main"
  ;

  padding: 0;
  padding-top: 2rem;

  overflow: hidden;

  & > .navbar-block {
    grid-area: nav;
    z-index: 10;
  }

  & > .navigate-component {
    grid-area: main;
  }

  @media (--break-3-portrait) {
    padding-top: 0;
  }
}


.navigate-component {
  display: flex;

  & > :first-child {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
