@import '../../styles/utils/mixins.css';
@import '../../styles/media-queries.css';

.technology-block {
  display: grid;
  grid-template-columns: 1fr minmax(18rem, 30rem);
  grid-template-rows: 5rem minmax(auto, 491px);
  align-content: center;
  column-gap: 1rem;

  padding-left: 2rem;

  overflow: auto;

  @media (--break-3-portrait) {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, min-content);
    align-content: stretch;
    row-gap: 4rem;

    padding-left: 0;
    padding-top: 3rem;
  }

  & > .title-page {

    @media not (--break-3-portrait) {
      display: none;
    }

    @media (--break-3-portrait) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;

      padding-left: 2rem;
    }
  }

  & > .infosection {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;

    justify-self: center;

    width: 38rem;

    @media (--break-2) {
      width: 31rem;
    }

    @media (--break-3-portrait) {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;

      width: auto;
    }
  }

  & > .imagesection {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    @media (--break-3-portrait) {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  }
}


.technology-block {
  padding-bottom: 1rem;

  & > .infosection {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    padding-bottom: 2rem;

    @media (--break-4) {
      padding-inline: 1rem;
    }

    & > .title-page {
      transform: translateY(-4rem);

      @media (--break-3-portrait) {
        display: none;
      }
    }

    & > .selectinfo {
      padding-top: 3rem;
      
      display: flex;
      column-gap: 4rem;
      
      @media (--break-3-portrait) {
        padding-top: 0;
        
        flex-direction: column;
        row-gap: 3rem;
      }

      & > .select {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        @media (--break-3-portrait) {
          align-self: center;

          flex-direction: row;
          column-gap: 2rem;
        }

        & > .option {
          display: grid;
          place-items: center;

          border-radius: 50%;
          width: max(65px, 2.3em);
          aspect-ratio: 1 / 1;
          border: solid 2px #4c4d56;

          font-size: 2rem;
          font-family: var(--font-bellefair);

          @media (--break-3-portrait) {
            width: max(50px, 2em);
          }

          @mixin :hover & {
            border-color: #fff;
          }

          &.-active {
            border-color: #fff;
            background-color: #fff;

            color: #000;
          }
        }
      }

      & > .info {
        flex-shrink: 1;

        display: flex;
        flex-direction: column;

        @media (--break-3-portrait) {
          text-align: center;
        }

        & > .pretitle {
          color: var(--secondary-color);
          font-family: var(--font-barlow-condensed);
          letter-spacing: 0.16875rem; /* 2.7px */

          @media (--break-3-portrait) {
            margin-bottom: 1rem;
          }

          @media (--break-4) {
            margin-bottom: 0.3rem;
          }
        }

        & > .title {
          margin-top: 0.5rem;
          margin-bottom: 1rem;

          font-size: 3.5rem;
          font-family: var(--font-bellefair);
          font-weight: normal;
          text-transform: uppercase;

          @media (--break-2) {
            font-size: 2.5rem;
          }

          @media (--break-4) {
            font-size: 1.5rem;
          }
        }

        & > .description {
          max-width: 47ch;

          color: var(--secondary-color);
          line-height: 2rem;

          @media (--break-3) {
            align-self: center;
          }
        }
      }
    }

  }

  & > .imagesection {
    padding-bottom: 1rem;

    @media (--break-3) {
      /* Set common height to images since one of them has different height */
      height: 334px;
    }

    @media (--break-3-portrait) {
      height: 430px;
    }

    @media (--break-4) {
      height: 170px;
    }

    & > .image {
      position: relative;
      width: 100%;
      height: 100%;

      & > img {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 100%;

        object-fit: contain;
        object-position: right;

        @media (--break-3-portrait) {
          object-fit: cover;
        }
      }
    }
  }
}
