@import '../../styles/utils/mixins.css';
@import '../../styles/media-queries.css';

.crew-block {
  display: grid;
  grid-template-columns: minmax(auto, 38.8125rem) 29rem;
  grid-template-rows: auto;
  justify-content: center;

  padding-inline: 2rem;
  padding-top: 2rem;

  overflow: auto;

  @media (--break-2) and (width <= 600px) {
    padding-inline: 1.3rem;
  }

  @media (--break-3-portrait) {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, 38.8125rem) 34.8125rem;
  }

  @media (--break-4) and (orientation: portrait) {
    grid-template-rows: minmax(21rem, auto) minmax(auto, 38.8125rem);
    row-gap: 3rem;
  }

  & > .infosection {
    margin-block: auto;

    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    min-height: 34.8125rem;

    @media (--break-3-portrait) {
      min-height: 28.8125rem;
    }

    @media (--break-4) and (orientation: portrait) {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;

      min-height: 0;
    }
  }

  & > .imagesection {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    @media (--break-3-portrait) {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }

    @media (--break-4) and (orientation: portrait) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }
  }


  & > .infosection {
    display: flex;
    flex-direction: column;

    padding-bottom: 3.5rem;

    & > .title-page {
      margin-bottom: auto;

      @media (--break-4) {
        display: none;
      }
    }

    & > .infodots {
      display: flex;
      flex-direction: column;
      row-gap: 6rem;

      @media (--break-3-portrait) {
        align-self: center;

        max-width: max-content;

        row-gap: 3rem;
      }

      & > .info {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;

        @media (--break-3-portrait) {
          align-items: center;

          text-align: center;
        }

        & > .role {
          color: #8e9094;
          font-size: 2rem;
          font-family: var(--font-bellefair);
          font-weight: normal;
          text-transform: uppercase;

          @media (--break-4) and (orientation: portrait) {
            font-size: 1.4rem;
          }
        }

        & > .name {
          margin-bottom: 1rem;

          font-size: 3.5rem;
          font-family: var(--font-bellefair);
          font-weight: normal;
          text-transform: uppercase;

          @media (--break-4) and (orientation: portrait) {
            font-size: 2rem;
          }
        }

        & > .bio {
          max-width: 45ch;

          color: var(--secondary-color);
          line-height: 2rem;

          @media (--break-3-portrait) {
            max-width: 65ch;
          }
        }
      }

      & > .dots {
        display: flex;
        column-gap: 1.5rem;

        @media (--break-3-portrait) {
          align-self: center;
        }

        @media (--break-4) and (orientation: portrait) {
          order: -1;
        }

        & > .options {
          width: max(16px, 1em);
          aspect-ratio: 1 / 1;

          border-radius: 50%;

          background-color: #363841;

          @mixin :hover & {
            background-color: #86878c;
          }

          &.-active {
            background-color: #fff;
          }
        }
      }
    }

  }

  & > .imagesection {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    @media (--break-4) {
      justify-content: stretch;
    }

    & > .title-page {
      align-self: center;

      margin-bottom: 3rem;

      font-size: 1.3rem;

      @media not (--break-4) {
        display: none;
      }
    }

    & > .image {
      flex-shrink: 1;

      width: 100%;
      max-height: 100%;

      object-fit: contain;
    }

    & > .line {
      height: 2px;

      background-color: #383B4B;

      @media not (--break-4) {
        display: none;
      }
    }
  }
}
