.title-page {
  margin-bottom: auto;

  display: flex;
  column-gap: 2ch;

  font-size: 1.6rem;
  font-family: var(--font-barlow-condensed);

  letter-spacing: 0.295rem; /* 4.72px */

  & > .index {
    color: #50525a;
    font-weight: bold;
  }
}
