.title-page {
  display: flex;
  column-gap: 1.5ch;

  font-size: 1.6rem;
  font-family: var(--font-barlow-condensed);

  letter-spacing: 0.295rem; /* 4.72px */

  user-select: text;

  & > .index {
    color: #50525a;
    font-weight: bold;
  }
}
